#cart-items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-item {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    height: 200px;
}

.cart-item h3 {
    font-size: 20px;
    margin: 0;
}

.item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.item-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}