.main-container {

}

.products-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 30px;
}

.product {
    position: relative;
    height: 200px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below */
}

.product.animate {
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: calc(var(--index) * 0.2s); /* Dynamically calculate delay */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ::after */
.product::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.03);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* Prevent the overlay from interfering with hover events */
}

.product:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.product:hover::after {
    opacity: 1; /* Make the overlay visible on hover */
}

.product:active {
    transform: scale(0.95); /* Slightly shrink the element */
}

.product .image-container {
    /* background-color: var(--color-quaternary); */
    height: 75%;
    object-fit: cover;
    margin-bottom: 10px;
}
.product .info-container {
    /* background-color: var(--color-secondary); */
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product .info-container p {
    overflow-wrap: break-word;
}

.image-container img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#product-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#product-modal .modal-content{
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
    height: 55%;
    position: relative;
    background-color: var(--color-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#product-modal .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

#product-modal .close-button:hover {
    color: red;
}

#thumbnail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 20px;
    margin-left: 20px;
}
#selected-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 70%;
    padding: 20px;
}
#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding: 20px;
}

#thumbnail-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    overflow-x: auto; /* Allow horizontal scrolling */
}
.thumbnail-image {
    width: 100%;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}



#selected-image {
    width: 100%;
}

#add-to-cart {
    margin: 20px 5px;
    padding: 10px 20px;
    border-radius: 6px;
}
#add-to-cart:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
}
#add-to-cart:active {
    transform: scale(0.95); /* Slightly shrink the element */
}
#add-to-cart:disabled {
    cursor: not-allowed;
    pointer-events: none; /* Prevent interaction */
}
#add-to-cart.added-to-cart {
    background-color: var(--color-quaternary);
    color: black;
}

#close-button {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

#close-button:hover {
    background-color: #CA3433;
    color: var(--color-primary);
}

@media (max-width: 1024px) {
    #product-modal .modal-content {
        width: 90%;
        height: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #thumbnail-container {
        width: 90%;
        height: 15%;
        margin-left: 0;
        padding-bottom: 0;
    }
    #selected-image-container {
        width: 100%;
        height: 50%;
    }
    #text-container {
        width: 90%;
        height: 30%;
    }
    #thumbnail-images {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        overflow-y: hidden; /* Hide vertical scrolling */
        overflow-x: auto; /* Allow horizontal scrolling */
    }
    .thumbnail-image {
        height: 100%;
        margin-right: 10px;
        width:initial;
    }
    #selected-image {
        width: 90%;
        max-height: 100%;
        height: auto;
        object-fit: cover;
    }
}
@media (max-width: 480px) {
    #form-container {
        width: 95%;
        height: 90%;
        top: 5%;
        left: 2.5%;
        right: 2.5%;
    }
}