/*
  Emre Bozkurt, 400555259
  

  Contains the css for the login page. It is used to style the login form and its elements. 

*/


#login-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#login-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#remember-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#login-button {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary, #007bff);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#login-button:hover {
  background-color: var(--color-primary-dark, #0056b3);
}

/* From Uiverse.io by sssynk */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px rgb(183, 183, 183);
  margin-left: 5px;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  box-shadow: 3px 3px 0px rgb(183, 183, 183);
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(
    45deg,
    rgb(100, 61, 219) 0%,
    rgb(217, 21, 239) 100%
  );
}

.checkbox-container input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
