/*
  Peter Wu, 400444595

  Contains the css for the orders page.

*/






h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#orders-container h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.order-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.order-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
.order-title {
    font-size: 18px;
    color: #555;
}
.order-meta {
    font-size: 16px;
    color: #777;
}

.order-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0;
    margin: 0 2px;
}
.order-item .item-name {
    font-size: 16px;
    color: #555;
    text-align: center;
}
.order-item .item-meta {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.receipt-button {
    margin: 10px 15px;
    padding: 8px 12px;
    background-color: #bdbbba;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 10%;
}
.receipt-button:hover {
    background-color: #72706e;
}

@media (max-width: 768px) {
    #orders-container {
        width: 100%;
    }
    .order-entry {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .order-details, .order-items {
        width: 100%;
    }
    .order-item {
        flex-direction: column;
        align-items: center;
    }
    .order-item .item-name, .order-item .item-meta {
        text-align: center;
    }
    .receipt-button {
        width: 80%;
        margin: 10px auto;
    }
}