:root {
    --color-primary: #FFC4EB;
    --color-secondary: #FFE4FA;
    --color-tertiary: #F1DEDC;
    --color-tertiary-transparent: #f1dedc25;
    --color-quaternary: white;
    --color-quaternary-transparent: #ffffff25;
}

body {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
}


.first-nav a {
    color: black;
    margin-right: 20px;
    margin-left: 50%;
    display: flex;
}



