/*
  Sreyo Biswas, 400566085
  Emre Bozkurt, 400555259
  Tiya Jathan, 400589788
  Siddhi Upadhyaya, 400588513
  Peter Wu, 400444595
  Date created: 2025-03-25
  
  Contains general css for the website, including things like fonts, colors and the body background. 
*/

@import "header.css";

:root {
    --color-primary: #FFC4EB;
    --color-primary-dark: #FFB2E6;
    --color-secondary: #FFE4FA;
    --color-tertiary: #F1DEDC;
    --color-tertiary-transparent: #f1dedc25;
    --color-quaternary: white;
    --color-quaternary-transparent: #ffffff25;
    --color-quinary: #FFC0CB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica-light;
}

@font-face {
    font-family: 'sauce-tomato'; 
    src: url('../assets/fonts/sauce-tomato.regular.otf') format('truetype'); 

    font-family: 'Helvetica-light';
    src: url('../assets/fonts/HelveticaNeueRoman.otf') format('truetype');
}


body {
    background: linear-gradient(135deg, #FFC0CB 0%, #FFFFFF 100%);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--color-tertiary);
}
    
  
#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


model-viewer{
    height: 300px;

}

#creations{
    font-size: 8px;
    font-weight: bold;
    color: black;
    font-family: Helvetica-light;
    padding: 1px;
    
}








